{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}

    {% with total_images_created=request.user.images_created.count %}
        <p> You have bookmarklet {{ total_images_created }}
            image{{ total_images_created|pluralize }}</p>
    {% endwith %}

    <p>
        button to bookmarks toolbar to images frm othr webs ---->
        <a href="javascript:{% include 'bookmarklet_launcher.js' %}"
        class="button"> Bkmrk it!</a>
    </p>

    <p>
        You can also <a href="{% url 'edit' %}"> edit profile</a>
        or <a href="{% url 'password_change' %}">change pssword</a>
    </p>

    <h2>What's happening</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include 'actions/action/detail.html' %}
        {% endfor %}
    </div>

{% endblock %}